
<div class="mx-auto container flex justify-center">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 justify-items-center">
    <div class="col-span-full">
      <ui-title title="Tours - Servicios" data-aos="fade-up"/>
    </div>
    <div class="card bg-base-100 image-full shadow-sm" data-aos="flip-down">
      <figure>
        <img src="images/buceo.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Buceo</h2>
        <p>Contenido
          Contenido
          Contenido <br>
          Contenido <br>
        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" data-aos="zoom-out-down">
            <i class="fa-solid fa-arrow-right-long"></i> Cotizar
          </button>
        </div>
      </div>
    </div>
    <div class="card bg-base-100 image-full shadow-sm" data-aos="flip-up">
      <figure>
        <img src="images/moto.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Motos</h2>
        <p>Contenido
          Contenido
          Contenido <br>
          Contenido <br>
        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" data-aos="zoom-out-down">
            <i class="fa-solid fa-arrow-right-long"></i> Cotizar
          </button>
        </div>
      </div>
    </div>
    <div class="card bg-base-100 image-full shadow-sm" data-aos="flip-down">
      <figure>
        <img src="images/guia.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Recorrido por la isla</h2>
        <p>Contenido
          Contenido
          Contenido <br>
          Contenido <br>
        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary" data-aos="zoom-out-down">
            <i class="fa-solid fa-arrow-right-long"></i> Cotizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
