<hero />
<fast-reservations />
<p class="text-red-700 text-center">
  <strong> Evento: </strong>
  Genera un mensaje para whatsapp tipo: Hola, para reservar un [actividad], para el dia [fecha], somos [x] adultos y [x] niños.
  gracias. <br>
  <br><br>
  este mensaje lo envia a un numero de whatsapp.
</p>
<div class="mx-auto container flex justify-center">

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 justify-items-center">

    <div class="col-span-full">
      <ui-title title="¿Qué ofrecemos?" />
    </div>

    <div class="flex flex-col gap-3 justify-center items-center max-w-64">
      <div class="mask mask-hexagon">
        <i class="fa-solid fa-circle-user fa-3x text-success"></i>
      </div>
      <h3 class="text-xl font-semibold">
        Calidad en el servicio
      </h3>
      <p class="text-center text-base-content/70">
        Servicio personalizado, acompañamiento profesional, confiable y con soluciones íntegras.
      </p>
    </div>
    <div class="flex flex-col gap-3 justify-center items-center max-w-64">
      <div class="mask mask-heart">
        <i class="fa-solid fa-circle-user fa-3x text-success"></i>
      </div>
      <h3 class="text-xl font-semibold">
        Calidad en el servicio
      </h3>
      <p class="text-center text-base-content/70">
        Servicio personalizado, acompañamiento profesional, confiable y con soluciones íntegras.
      </p>
    </div>
    <div class="flex flex-col gap-3 justify-center items-center max-w-64">
      <div class="mask mask-hexagon-2">
        <i class="fa-solid fa-circle-user fa-3x text-success"></i>
      </div>
      <h3 class="text-xl font-semibold">
        Calidad en el servicio
      </h3>
      <p class="text-center text-base-content/70">
        Servicio personalizado, acompañamiento profesional, confiable y con soluciones íntegras.
      </p>
    </div>
    <div class="flex flex-col gap-3 justify-center items-center max-w-64">
      <div class="mask mask-decagon">
        <i class="fa-solid fa-circle-user fa-3x text-success"></i>
      </div>
      <h3 class="text-xl font-semibold">
        Calidad en el servicio
      </h3>
      <p class="text-center text-base-content/70">
        Servicio personalizado, acompañamiento profesional, confiable y con soluciones íntegras.
      </p>
    </div>


    <div class="col-span-full">
      <p class="text-red-700">
        <strong> Contenido: </strong>
        Habitaciones cómodas, Tours guiados, Playas cercanas, Motos, Desayuno, cerca al Mar.
        <br><br>
        Van cosas asi
        <br><br>
        ej: a 2 calles del la playa etc, con vista al Mar :: <b>son ejemplos</b>
      </p>
    </div>
  </div>
</div>

<div class="my-5 bg-base-200">
  <div class="mx-auto flex justify-center p-3">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-5">
      <div class="col-span-full">
        <ui-title title="Instalaciones" />
      </div>
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img src="images/habitaciones.jpg" alt="Rooms" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Habitaciones
          </h2>
          <p>
            Las mejores habitaciones de la Isla
          </p>
          <div class="card-actions justify-end">
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-xmark text-red-500"></i> Baño
            </div>
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-check"></i> Aire acondicionado
            </div>
          </div>
          <div class="border-t border-dashed text-neutral/45 h-[1px]">

          </div>
          <div class="card-actions justify-end">
            <button class="btn btn-success md:btn-sm">
              <i class="fa-solid fa-arrow-right-long"></i> Reservar
            </button>
            <button class="btn btn-info md:btn-sm">
              <i class="fa-solid fa-arrow-right-long"></i> Ver Mas detalles
            </button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img src="images/piscina.jpg" alt="swimming pool" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Piscina
          </h2>
          <p>
            Disfrute de agua dulce bla bla bla
          </p>
          <div class="card-actions justify-end">
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-xmark text-red-500"></i> Bebidas
            </div>
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-check"></i> Musica
            </div>
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-check"></i> Toallas
            </div>
          </div>
          <div class="border-t border-dashed text-neutral/45 h-[1px]">

          </div>
          <div class="card-actions justify-end">
            <button class="btn btn-info md:btn-sm">
              <i class="fa-solid fa-arrow-right-long"></i> Ver Mas detalles
            </button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img src="images/cocina.jpg" alt="kitchen" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Cocina
          </h2>
          <p>
            Grann cocina compartida con horno microondas etc
          </p>
          <div class="card-actions justify-end">
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-xmark text-red-500"></i> Insumos
            </div>
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-check"></i> Cubiertos
            </div>
          </div>
          <div class="border-t border-dashed text-neutral/45 h-[1px]">

          </div>
          <div class="card-actions justify-end">
            <button class="btn btn-info md:btn-sm">
              <i class="fa-solid fa-arrow-right-long"></i> Ver Mas detalles
            </button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 shadow-sm">
        <figure>
          <img src="images/habitaciones.jpg" alt="Rooms" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Contenido
          </h2>
          <p>
            Contenido Contenido Contenido Contenido
          </p>
          <div class="card-actions justify-end">
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-xmark text-red-500"></i> Contenido
            </div>
            <div class="badge badge-soft badge-accent">
              <i class="fa-solid fa-check"></i> Contenido
            </div>
          </div>
          <div class="border-t border-dashed text-neutral/45 h-[1px]">

          </div>
          <div class="card-actions justify-end">
            <button class="btn btn-success md:btn-sm">
              <i class="fa-solid fa-arrow-right-long"></i> Contenido
            </button>
            <button class="btn btn-info md:btn-sm">
              <i class="fa-solid fa-arrow-right-long"></i> Contenido
            </button>
          </div>
        </div>
      </div>

      <div class="col-span-full">
        <p class="text-red-700">
          <strong> Contenido: </strong>
          Descripcion leve de las instalaciones, las fotos son de ejemplo
          <br>
          puede ir lo de wifi gratis, tours etc, servicio de peliculas, tv.
          <br>
          Si necesita infomacion especifica, se redirecciona a una pagina especializada
          <br> ej: /rooms: donde mostrara todas las habitaciones
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto container flex justify-center">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 justify-items-center">
    <div class="col-span-full">
      <ui-title title="Tours - Servicios" subtitle="Alianzas con terceros, aca va un texto que diga que sale mas barato con uds jaja" />
    </div>
    <div class="card bg-base-100 image-full shadow-sm">
      <figure>
        <img src="images/buceo.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Buceo</h2>
        <p>Contenido
          Contenido
          Contenido <br>
          Contenido <br>

        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">
            <i class="fa-solid fa-arrow-right-long"></i> Cotizar
          </button>
        </div>
      </div>
    </div>
    <div class="card bg-base-100 image-full shadow-sm">
      <figure>
        <img src="images/moto.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Motos</h2>
        <p>Contenido
          Contenido
          Contenido <br>
          Contenido <br>

        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">
            <i class="fa-solid fa-arrow-right-long"></i> Cotizar
          </button>
        </div>
      </div>
    </div>
    <div class="card bg-base-100 image-full shadow-sm">
      <figure>
        <img src="images/guia.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Recorrido por la isla</h2>
        <p>Contenido
          Contenido
          Contenido <br>
          Contenido <br>

        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">
            <i class="fa-solid fa-arrow-right-long"></i> Cotizar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-5 bg-base-200">
  <div class="mx-auto flex justify-center p-3">
    <section class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
      <div class="col-span-full">
        <ui-title title="Ubicación privilegiada" subtitle="Atencion 24/7" />
      </div>
      <div class="col-span-1">
        <div class="flex flex-col gap-3">
          <div class="flex flex-row gap-3 items-center">
            <i class="fa-solid fa-map fa-2x w-[40px] "></i>
            <div class="flex flex-col gap-3">
              <h3 class="text-xl font-bold">Dirección:</h3>
              <p>Cra 00 Numero 00 - 11A Av AVENIDA, San Andres CO</p>
            </div>
          </div>
          <div class="flex flex-row gap-3 items-center">
            <i class="fa-solid fa-phone fa-2x w-[40px] "></i>
            <div class="flex flex-col gap-3">
              <h3 class="text-xl font-bold">Números:</h3>
              <p>
                300 000 0000 <br>
                300 000 0000
              </p>
            </div>
          </div>
          <div class="flex flex-row gap-3 items-center">
            <i class="fa-solid fa-route w-[40px]"></i>
            <div class="flex flex-col gap-3">
              <h3 class="text-xl font-bold">Como llegar?</h3>
              <div class="flex flex-row gap-3">
                <button class="btn btn-success btn-sm">
                  <i class="fa-brands fa-waze"></i> Waze
                </button>
                <button class="btn btn-success btn-sm">
                  <i class="fa-brands fa-google"></i> Google Maps
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:col-span-2 col-span-1">
        <div class="w-full h-[400px]">
          <iframe class="w-full h-full rounded-xl shadow-md"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8951843531853!2d-74.0835859!3d4.6097102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a7b339cdff%3A0xe3e2b58d667b5db!2sBogot%C3%A1%2C%20Colombia!5e0!3m2!1ses!2sco!4v1719253812345!5m2!1ses!2sco"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>

      <div class="col-span-full">
      <p class="text-red-700">
        <strong> Contenido: </strong>
        Despues le pongo cariño, pero aca deberia ir tipo: cerca a la playa etc
        <br><br>
        Faltan animaciones, imagenes propias, colores, mucho mas y las tildes etc.
        <br><br>
        La termine asi rapido pues tenia sueño, <b>pero NO ES LA VERSION FINAL, es un boceto </b>
      </p>
    </div>
    </section>
  </div>
</div>

<!-- <div class="text-gray-800 text-lg space-y-2">
        <ul  class="list bg-base-100 rounded-box shadow-md">
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">01</div>
            A solo 3 calles del aeropuerto
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">02</div>
            A 2 minutos caminando de la playa
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">03</div>
            Hermosa vista al mar desde todas las habitaciones
          </li>
          <li class="list-row">
            <div class="text-4xl font-thin opacity-30 tabular-nums">05</div>
            Cerca de restaurantes típicos y bares locales
          </li>
        </ul>
      </div> -->
